header {
  background-color: blue;
  text-align: center;
  padding: 10px;
  color: white;
}
header nav {
  display: flex;
  justify-content: center;
}
header a {
  color: red;
  padding: 0 10px;
  border-left: 1px red solid;
}
header a:nth-child(1) {
  border-left: none;
}
header a:hover {
  color: white;
}
ul {
  list-style-type: none;
}
ul li {
  text-transform: capitalize;
}
.btn-delete {
  color: black;
}
.btn-edit img {
  max-height: 19px;
}
main {
  margin: 0 5px;
}
h1 span {
  text-transform: capitalize;
}
a {
  text-transform: capitalize;
}
.highlighted {
  background-color: blue;
  color: white;
}
#tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#tabs h1 {
  border: black 3px solid;
  border-bottom: none;
  padding: 8px;
  margin-bottom: 0;
}
#tabs a:hover {
  text-decoration: none;
}
#login-form {
  margin-top: 0;
  border: black 3px solid;
  padding: 10px;
}
