<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body class="container">
	<!-- <header class="container block">
		<div class="container text-center">
			<h1>AMC Theatres</h1>
		</div>
		<div class="container movie-header">
			<div class="search">
				<form action="/search" method="GET">
					<input type="text" name="name" placeholder="name" />
					<input type="text" name="zipcode" placeholder="zipcode">
					<button type="submit">Search</button>
				</form>
				
			</div>
			<div class="links row">
				<a href="/movie">Home</a>
				<a href="">Contacts</a>
				<a href="/wish">Wish List</a>
				<a href="/login">Login</a>
			</div>
		</div>
	</header> -->
	<main>
		<% let theatre;
		for (let location of response.locations) {
			theatre = location._embedded.theatre -%>
			<div class = "card block">
				<h3>Theatre: <%= theatre.name %></h3>
				<div>
					<p> <%= theatre.location.addressLine1 %></p>
					<p> <%= theatre.location.addressLine2 %></p>
					<p> <%= theatre.location.city + ", " + theatre.location.state + ", " + theatre.location.postalCode.slice(0,4) %></p>
					<p> <!--distance from you--></p>
					<div>
						<!-- showtimes -->
					</div>
				</div>
			</div>
		<% } -%>
	</main>
</body>
</html>

