<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body class="container">
	<main>
		<% let theatre;
		for (let location of response.locations) {
			theatre = location._embedded.theatre -%>
			<div class = "card block">
				<h3>Theatre: <%= theatre.name %></h3>
				<div>
					<p> <%= theatre.location.addressLine1 %></p>
					<p> <%= theatre.location.addressLine2 %></p>
					<p> <%= theatre.location.city + ", " + theatre.location.state + ", " + theatre.location.postalCode.slice(0,4) %></p>
					<p> <!--distance from you--></p>
					<div>
						<!-- showtimes -->
					</div>
				</div>
			</div>
		<% } -%>
	</main>
</body>
</html>

