<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
		</script>

</head>
<body>
	<header class="movie-header container">
		<div class="search">
			<form action="/api/search" method="GET">
				<input type="text" name="name" placeholder="name" />
				<input type="text" name="title" placeholder="zipcode">
				<button type="submit">Search</button>
			</form>
			
		</div>
		<div>
			<nav>
				<ul class="row justify-content-around">
					<li><a href="">About</a></li>
					<li><a href="">Contacts</a></li>
					<li><a href="">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="container top">
			<div class="top-list">
				<!-- list of top movies with images -->
				<% for(let i = 0; i < movies.length; i++) { %>
					<a href="/movies/<%= movies[i].id%>">
						<img src="<%= movies[i].media.posterStandard %>">
					</a>
				<% } %>
			</div>
	</section>

	<script type="text/javascript" src="/js/movieApp.js"></script>
</body>
</html>