header {
	background-color: blue;
	text-align: center;
	padding: 10px;
	color: white;
	nav {
		display: flex;
		justify-content: center;
	}
	a {
		color: red;
		padding: 0 10px;
		border-left: 1px red solid;
	}
	a:nth-child(1) {
		border-left: none;
	}
	a:hover {
		color: white;
	}
}

ul {
	list-style-type: none;
	li {
		text-transform: capitalize;
	}
}

.btn-delete {
	color: black;
}

.btn-edit img {
	max-height: 19px;
}

main {
	margin: 0 5px;
}

h1 {
	span {
		text-transform: capitalize;
	}
}

a {
	text-transform: capitalize;
}

.highlighted {
	background-color: blue;
	color: white;
}

#tabs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	h1 {
		border: black 3px solid;
		border-bottom: none;
		padding: 8px;
		margin-bottom: 0;
	}
	a:hover {
		text-decoration: none;
	}
}

#login-form {
	margin-top: 0;
	border: black 3px solid;
	padding: 10px;
}